body {
    background-color: bisque;
}

.GalleryImages img{
    height: auto;
    width: 500px;
}

div.Header {
    text-align: center;
    padding: 20px;
    background-color: azure;
}

/* {
    border: 2px solid red;
}*/


