body {
    background-color: bisque;
    margin: 0;
}

.GalleryImages img{
    height: auto;
    width: 500px;
}

div.Header {
    
    text-align: center;
    padding: 10px;
    background-color: rgb(143, 224, 224);
    margin: 0;

}
div.NavBand { 
    
    overflow: hidden;
    background-color: brown;
}

div.NavBand a{

    display: block;
    float:left;
    padding: 10px 15px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}

div.NavBand a:hover {

    background-color: aliceblue;
    color: browns;
}

/* {
    border: 2px solid red;
}*/


